<div class="secret-santa-main">
  <h2>{{fileEntries.ProjectHeading}}</h2>
  <div>{{fileEntries.EmployeeList}}</div>
  <div class="uploaded-employee-list">
  <input type="file" class="uploaded-employee-text" (change)="onFileChange($event, 'employees')" />
</div>
<div class="tooltip">{{fileEntries.EmployeeToolTip}}</div>

<div class="uploaded-previous-assignment">{{fileEntries.PreviousAssignmet}}</div>
<div class="uploaded-employee-list">
<input type="file" class="uploaded-employee-text" (change)="onFileChange($event, 'previous')" />
</div>
<div class="tooltip">{{fileEntries.PreviousEmployeeToolTip}}</div>
<button  class="submit-button" (click)="submitFiles()">Submit</button>
 </div>
